/* body {
  background: #f7f7f7;
  color: #444444;
} */

/* .Mui-focused {
  color: #444444 !important;
}

label {
  color: #444444 !important;
}

input {
  color: #444444 !important;
} */

/* h4 {
  text-transform: uppercase;
  font-weight: 900 !important;
  width: fit-content;
} */
