/* body {
  background: #f7f7f7;
  color: #444444;
} */

/* .Mui-focused {
  color: #444444 !important;
}

label {
  color: #444444 !important;
}

input {
  color: #444444 !important;
} */

/* h4 {
  text-transform: uppercase;
  font-weight: 900 !important;
  width: fit-content;
} */
/* 
border-style: solid;
border-bottom: transparent;
border-top: transparent;
border-right: transparent;
margin-left: -20px;
padding-left: 20px;
border-width: thick;
border-color: #5DB7DE; */
